*{
	padding: 0px;
	margin: 0px;
}

.container {
	/*max-width: 970px !important;*/
	margin: auto;
}

.mb-30{
	margin-bottom: 30px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-70{
	margin-bottom: 70px;
}
.mb-100{
	margin-bottom: 100px;
}
.mt-10{
	margin-top: 10px;
}
.mt-40{
	margin-top: 40px;
}
.mt-30{
	margin-top: 30px;
}
.mt-100{
	margin-top: 100px;
}
.mt-20{
	margin-top: 20px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-70{
	padding-bottom: 70px;
}
.pb-15 {
	padding-bottom: 15px !important;
}
.pt-15 {
	padding-top: 15px !important;
}
.pt-10{
	padding-top: 10px;
}
.pt-40{
	padding-top: 40px;
}
.pt-30{
	padding-top: 30px;
}
.pt-100{
	padding-top: 100px;
}
.pt-20{
	padding-top: 20px;
}
.dn{
	display: none;
}
.db{
	display: block !important;
}
.padding0px{
	padding: 0px;
}
.padding5px{
	padding: 5px !important;
}
.cb{
	clear: both;
}

body a{
	color: #2c2c2c;
}
body a:hover{
	color: #E47925;
}

/*INPUTS*/
input[type="password"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="time"],
select{
    border: 0px;
    padding-left: 10px;
    line-height: 30px;
    border-bottom: 2px solid #E47925;
}
textarea{
	background-color: #36332E;
	border: 1px solid transparent;
	padding-left: 10px;
	height: 40px !important;
}
.formButton,
.plusPerfilCadastrar,
input[type="submit"],
button{
	background-color: rgba(97, 176, 63, 0.30);
	border: 1px solid #E47925;
	padding-left: 10px;
	line-height: 30px !important;
	border-radius: 5px;
	width: 100% !important;
}
.formButton:hover,
input[type="submit"]:hover,
button:hover{
	color: white;
	background-color: #FF7A13 !important;
}
input[type="radio"] {

}
input[type="checkbox"] {

}
label, .label {
	color: #393738 !important;
	text-align: left;
	font-size: 15px;
	word-break: break-word;
}

.padding0px{
	padding: 0px !important;
}

.margin0px{
	margin: 0px !important;
}

.logoImagemImg{
	max-width: 150px;
}

.deleteTelefone{
	background: url("../img/cancel.png") no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: 40px;
	height: 40px;
	cursor: pointer;
}

ul.menuPrincipal {}

ul.menuPrincipal li {
    display: inline-table;
    padding-right: 20px;
}

.carinho{
	background-color: red;
	font-size: 15px !important;
	height: auto !important;
}

li.liListaCidade{
	background-color: rgba(228,121,37,0.30);
	display: -webkit-box;
}

li.liListaCidade:hover{
	background-color: rgba(97, 176, 63, 0.30);
	font-weight: bolder;
	cursor: pointer;
}

.formCadastroComerciante li.liListaCidade{
	background-color: rgba(228,121,37,1);
}

.formCadastroComerciante li.liListaCidade:hover{
	background-color: #D0E7C5;
}

.cidadeClass{
	width: 100%;
}

.returnCidade{
	position: absolute;
	z-index: 10;
	overflow-y: scroll;
	max-height: 200px;
}

.souComerciante{
	background: rgba(97, 176, 63, 0.30);
	border-radius: 5px;
	border: 1px solid #E47925;
	height: 200px;
	font-size: 30px;
	color: #2c2c2c;
}

.cidadeGeral{
	height: 200px;
}

.souComerciante:hover{
	background: rgba(97, 176, 63, 0.70);
	color: #E47925;
	cursor: pointer;
}

.souComerciante span,
.cidadeGeral > div{
	position: relative;
	top: 40%;
}

.logoImagemImg{
	cursor: pointer;
}

.tituloCadastroComerciante span{
	font-size: 30px;
}

.popupGeral {
	position: fixed;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.conteudoPopup {
	background: white;
	height: 80%;
	position: relative;
	top: 100px;
	border-radius: 20px;
	padding: 20px;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.closePopupGeral{
	background: url("../img/cancel.png") no-repeat;
	background-position-x: 100%;
	background-position-y: 50%;
	background-size: 32px;
	height: 32px;
	position: relative;
	top: 90px;
	cursor: pointer;
}

@media (max-width: 320px){

}
@media (min-width: 321px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) {

}
